body
	font-family 'Proxima', 'Helvetica Neue', 'Arial', sans-serif
	min-height 100%
	height 100%
	color black

.wrap 
	full-width()
	min-height: 100%
	padding-bottom 100px
	margin-bottom: -100px
	&:after
		content ""
		display block
	
	background-repeat no-repeat
	background-position center center

html
	height 100%

article
	position relative
	z-index 10

.vote
	margin-top 20px
	.parsley-errors-list
		padding-left 0
		margin-top 0
		t all
		&.filled
			margin-top -15px
		li
			font-size 13px
			color red
			white-space no-wrap
			&:before, &:after
				display none
	&__title
		border-bottom 1px solid #5b9afc
		color alpha(black,.7)
		font-size 13px
		padding-bottom 3px
	&__question
		padding 10px 0 0
		border-bottom 1px solid #e2e3e4
		line-height: 80px
	&__text
		font-size 16px
		color #1b1d28
		display inline-block
		vertical-align: middle
		line-height 20px
	&__label
		font-weight: normal
		text-align: center
		font-size 13px
		opacity: .7
	&__label, input[type="radio"]&__input
		width 19px
		height 19px
		margin 0 3px 0 0
		@media (min-width: scr_lg)
			margin 0 5px 0 0
	&__submit
		width 180px
		text-transform: uppercase
		height 40px
		line-height 40px
		padding-top 3px
		background blue
		color white
		t all
		border 0
		font-size 14px
		letter-spacing 2px
		font-weight: bold
		&:hover
			background blue3
	&__textarea
		margin-top 15px
		width 100%
		resize none
		padding 10px 15px
		border 1px solid #9f9f9f
		&:focus
			border-color blue3
			outline 0
	&__input
		input[type="radio"]&
			appearance none
			border 1px solid alpha(black, .7)
			
			border-radius 21px

			box-shadow inset 0 0 0 4px white
			t all
			&:hover
				border-color blue3
			&:checked
				background blue3
				border-color blue3
		&-frame
			display inline-block
			vertical-align: middle
			line-height 18px
			margin-top 2px
	&-promo
		background #020e1a
		color #cecbcc
		padding 13px 0 10px
		font-size 15px
		margin-bottom -1px
		position relative
		z-index: 1000000
		display none
		@media (min-width: scr_md)
			display block
		p
			position relative
			top 3px
			margin-bottom 0
			font-size 16px
			&.one
				line-height 38px
		&__divider
			width 100%
		&__hide
			color #cecbcc
			border-line alpha(@color, .4), 13px
			font-size 13px
			display: inline-block
			top -3px
			position relative
			&:hover
				color blue
				border-line alpha(@color, .4), 13px
		&__action
			display inline-block
			border 1px solid blue
			color blue
			height 36px
			line-height 36px
			padding-top 2px
			vertical-align: middle
			margin-top 2px
			text-transform: uppercase
			font-weight: bold
			min-width 180px
			text-align: center
			letter-spacing 2px
			font-size 14px
			&:hover
				color #020e1a
				background blue
			

.toolbar
	.logo
		@media (min-width: scr_md)
			margin-left 0px
		svg
			@media (min-width: scr_md)
				max-width 70%
			@media (min-width: scr_lg)
				max-width 220px
		

.modal
	padding 0
.modal-dialog
	width 100%
	margin 0
	min-height 100%
	@media (min-width: scr_md)
		min-height none
		margin: 30px auto;
		width 770px
		iframe
			height (648*.562)px
	@media (min-width: scr_lg)
		width 980px
		iframe
			height (900*.562)px

	#Feedback &
		max-width 600px

.modal-content
	full-width()
	border-radius 0
	background black
	.date
		font-weight bold
		color blue
	.divider
		full-width()
		border-bottom 1px solid black
		margin 15px 0 20px
	.text
		min-height 200px
	iframe
		max-width 90%
		margin 15px 5%
		max-height 50%
		@media (min-width: scr_md)
			margin 0
			max-height none
			max-width 100%
	min-height 100%
	@media (min-width: scr_md)
		min-height none
		padding 50px 60px
		border 1px solid blue
	&--white
		background white
		border 0
		padding 30px 20px
		@media (min-width: scr_md)
			padding 30px 40px
		color black !important
		p
			font-size 14px
			line-height 17px
			margin-bottom 18px
			@media (min-width: scr_md)
				font-size 16px
				line-height 20px
		h1
			margin-top 10px
			font-weight bold
			font-size 25px
			margin-bottom: 25px
			@media (min-width: scr_md)
				font-size 30px
	.close
		opacity 1
		position absolute
		z-index 30000000
		right 10px
		top -5px
		svg
			max-width 30px
			path
				fill blue
		@media (min-width: scr_md)
			right -100px
			svg
				max-width none
	img
		max-width 100%
.modal-backdrop.in
	opacity .99
	@media (min-width: scr_md)
		opacity .8

.no-mobile
	display none
	@media (min-width: scr_sm)
		display block

.toolbar
	.nav
		&__item
			&:hover, &--active
				color #5b9afc !important
			@media (min-width: scr_sm)
				font-size 15px
				padding 3px 10.2px 0
				.en &
					padding 3px 21px 0
					&:first-of-type
						padding-left 0
			@media (min-width: scr_lg)
				font-size 16px
				padding 3px 17.4px 0
				.en &
					padding 3px 30px 0
					&:first-of-type
						padding-left 0